.sidebar-left {
    margin-left: 10px;
    float:left;
    width: 15%;
}

.sidebar-right {
    margin-right: 10px;
    float:right;
    width: 15%;
}

.content {
    /* Could be used when we impelement drag & drop */
    height: 800px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: whiteSmoke;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.noteFrame {
    border: none;
    width: 100%;
}

.new-note-button {
    margin: 8px;
    float: right;
}

.tileChild {
    height: 100%;
}

.noteHeader {
    width: 100%;
}

.noteHeader h3 {
    padding: 5px;
}

.noteHeader button {
    margin: 5px;
    float: right;
}