extends ../layout

block content
  .container
    .row
      .span12
        h2 List of courses
        table.table
          tr
            th department
            th number
            th name
          -each course in courses
            tr
              td=course.department
              td=course.number
              td
                a(href="/courses/#{course.id}")=course.name
        a.btn(href="/courses/add") Add new course
