extends ../layout

block content
  .container
    .row
      .span3
        p 
          a.btn(href="/courses/add") Add new course
        table.table
          -each course in courses
            tr
              td
               a(href="/courses/#{course.id}")=course.name
      .span9
        h2
          p Lectures
