extends ../layout

block content
  .container
    .row
      .span3
        p 
          a.btn Add new student
        table.table
          tr
            td
              p Student 1
          tr
            td
              p Student 2
      .span9
        h2
          p List of lectures
        table.table
          tr
            td
              p Lecture 1
          tr
            td
              p Lecture 2
          tr
            td
              p Lecture 3
           

