extends ../layout

block content
  .container
    .row
      .span3
        h2 List of students
        table.table
          tr
            td
              p Student 1
          tr
            td
              p Student 2

        p 
          a.btn Add new student
      .span9
        h2 List of lectures
        table.table
          tr
            td
              p Lecture 1
          tr
            td
              p Lecture 2
          tr
            td
              p Lecture 3
          -each lecture in course.lectures
            tr
              td
                p Lecture #{lecture.day}
        p
          a.btn(href="/courses/4/lectures/add") Add new lecture
           

