extends ../accountManagement

block accountManagementContent
  form.form-horizontal(action="changePassword/", method="post")
    fieldset
      legend Update Your Password
      .control-group
        label.control-label(for='old-password-input') Current Password
        .controls
          input#old-password-input.input-large(type='password', name='oldpassword')
      .control-group
        label.control-label(for='password-input') New Password
        .controls
          input#password-input.input-large(type='password', name='password')
      .control-group
        label.control-label(for='confirm-password-input') Confirm New Password
        .controls
          input#confirm-password-input.input-large(type='password', name='confirmpassword')
      .form-actions
        button.btn.btn-primary(type='submit') Confirm
