extends ../accountManagement

block accountManagementContent
  h1 Account Management Help
  br

  h3 How to Change Your Password
  br
  p To update your account password, simply navigate to <em>Profile</em> in the 
    Account Management menu and click the link labeled <em>Change Password</em> 
    under the <em>Security</em> header. You will need to enter your current 
    password as well in order to verify your identity.

  h3 How to Update Your Email Address
  br
  p If you need to change the email address that you originally listed with 
    us, navigate to <em>Profile</em> under the <em>Account Management</em> menu. 
    Click on the <em>Edit</em> link under the <em>Contact Information</em>
    heading. You will need to enter you password to confirm your identity.
