extends ../accountManagement

block accountManagementContent
  h3 Default Note Privacy
  br
  table.table
      tbody
        tr
          td Personal Notes
          td
            form.form-horizontal
              fieldset
                .control-group
                  .controls
                    select
                      option Only me
                      option Share with class
                      option Public

        tr
          td Class Notes
          td
            form.form-horizontal
              fieldset
                .control-group
                  .controls
                    select
                      option Only me
                      option Share with class
                      option Public
