extends ../accountManagement

block accountManagementContent
  h3 Default Note Permissions
  table.table
      tbody
        tr
          td Personal Notes
          td
            form.form-horizontal
              fieldset
                .control-group
                  .controls
                    select
        tr
          td Class Notes