!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    style
      body{
        padding-top:60px;
      }
  body
  .topbar
    .fill
      .container
        a.brand Eduwrite
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
  .container!=body
