extends layout

block content
  .container
    .row
      .span11.offset1
        .hero-unit
          h3=title
          p
          p In today's fast-paced college lectures, students often resort to desperate note-taking strategies, yet still miss critical information each lecture.
          p EduWrite, a collaborative note-taking system, addresses this problem by organizing real-time notes from students so that even during hectic lectures, there can be less frantic writing, and more listening and understanding.
          p Based on the open source project&nbsp;
            a(href='https://github.com/Pita/etherpad-lite') Etherpad-Lite
            , this project can help students to quickly grasp key concepts by allowing students to share notes in real-time.
