extends layout

block append head
  link(rel='stylesheet', href='/static/css/home.css')

block content
  .container-fluid
    .row-fluid
      .span2.sidebar-left.well
        ul.nav.nav-pills.pull-left.nav-header
          li.active
            <a>Classes</a>
          li
            <a>Your Notes</a>
      .span10
        .content
          center.hero-unit
            h1=title
            p
              Put some content here..
      .span2.offset1.sidebar-right
        p dklmsdasmkl