extends layout

block append head
  link(rel='stylesheet', href='/static/css/home.css')
  script(type='text/javascript', src='static/bootstrap/js/bootstrap-tab.js')
  script(type='text/javascript', src='static/bootstrap/js/bootstrap-modal.js')
  script(type='text/javascript', src='static/js/site/homeNoteNavigation.js')
  script(type='text/javascript', src='static/jstree/jquery.jstree.js')

.modal#newNoteModal
  .modal-header
    a.close(data-dismiss="modal")
    h3
      Modal Header

block content
  .container-fluid
    .row-fluid
      .span2
        .well
          .tabbable
            #newNoteModal.modal.hide.fade
              .modal-header
                a.close(data-dismiss="modal")
                h4 Create a new note
              .modal-body
                form
                  table.table
                    tbody
                      tr
                        td Name
                        td
                          input.text
                      tr
                        td Lecture
                        td

              .modal-footer
                a.btn(data-dismiss="modal") Cancel
                a.btn.btn-primary(href="#") Create Note
            a.btn#new-note-button(data-toggle="modal", href="#newNoteModal") New Note
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#1') All Notes
              li
                a(data-toggle='tab', href='#2') Your Notes

            .tab-content

              .tab-pane#1.active

                #notes-tree

              .tab-pane#2

                #user-notes

      .span8
        .content

          center.hero-unit
            h1=title
            p Put some content here..

      .span2
        .well

          .form-search
            input.input-small.search-query(type='text', name='query', placeholder='Search')
            &nbsp;&nbsp;
            button.btn(type='submit') Search

          br
          br
          p <b>User 1:</b> blah blah blah
          p <b>User 2:</b> blarh blah blah blah

