extends layout

block append head
  link(rel='stylesheet', href='/static/css/home.css')
  script(type='text/javascript', src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js')
  script(type='text/javascript', src='static/js/site/home_leftsidebar_user_notes.js')
  script(type='text/javascript', src='static/jstree/jquery.jstree.js')

block content
  .container-fluid
    .row-fluid
      .span2
        .tabbable

          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#1') All Notes
            li
              a(data-toggle='tab', href='#2') Your Notes

          .tab-content

            .tab-pane#1.active

              #notes-tree

            .tab-pane#2

              #user-notes

      .span8
        .content

          center.hero-unit
            h1=title
            p Put some content here..

      .span2
        .well

          .form-search
            input.input-small.search-query(type='text', name='query', placeholder='Search')
            &nbsp;&nbsp;
            button.btn(type='submit') Search

          br
          br
          p <b>User 1:</b> blah blah blah
          p <b>User 2:</b> blarh blah blah blah

