!!! 5
html(lang="en")
	head

		title=title

		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet', href='/static/bootstrap/bootstrap/css/bootstrap.css')
		style(type="text/css")
			body {
				padding-top:60px;
				padding-bottom:40px;
			}
			.sidebar-nav {
				padding:9px 0;
			}
		link(rel='stylesheet', href='/static/bootstrap/bootstrap/css/bootstrap-responsive.css')

		script(type='text/javascript', src='/static/jquery/dist/jquery.js')
		script(type='text/javascript', src='/static/bootstrap/js/bootstrap-collapse.js')

		block head

	body

		block titlebar
			.navbar.navbar-fixed-top
				.navbar-inner
					.container
						a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.brand(href="/") EduWrite
						.nav-collapse
							ul.nav
								-if(loggedIn)
									li
										a(href="/") Notes
									li
										a(href="/") About
							p.navbar-text.pull-right
								-if(loggedIn)
									| Welcome, #{user.email}
									&nbsp;&nbsp;
									a(href="/logout/") logout
								else
									| Real-time collaborative note-taking

			-if (error !== undefined && error != "")
				.alert.alert-error
					=error
			-if (success !== undefined && success != "")
				.alert.alert-success
					=success
			-if (info !== undefined && info != "")
				.alert.alert-info
					=info

		.container
			block content
