!!! 5
html(lang="en")
  head
    title=title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/register.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.min.js')
    style
      body{
        padding:50px;
      }
  body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar{data-toggle="collapse",data-target=".nav-collapse"}
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/") EduWrite
        .nav-collapse
          ul.nav
            -if(loggedIn)
              li.active
                a(href="/") Notes
              li
                a(href="/about") About
          p.navbar-text.pull-right
            -if(loggedIn)
              | Welcome, {user.email}
              a(href="/users/logout") logout
            else
              | Real-time collaborative note-taking
  -if (error !== undefined && error != "")
    .alert.alert-error
      =error
  -if (success !== undefined && success != "")
    .alert.alert-success
      =success
  -if (info !== undefined && info != "")
    .alert.alert-info
      =info
  .container!=body
