extends ../layout

block content
  .container-fluid
    .row-fluid
      .span2

        .well
          .nav.nav-list
            .nav-header
              | Account Management
            li
              a(href="/accountManagement/profile") Profile
            li
              a(href="/accountManagement/notePermissions") Privacy
            li
              a(href="/accountManagement/help") Help
      .span7
        block accountManagementContent