.row
  .span7
      form.form-horizontal(action="/users/register", method="post")
        fieldset
          legend Register to use EduWrite
          .control-group
            label.control-label(for='input01') Email
            .controls
              input#input01.input-xlarge(type='text', name="user[email]")
              p.help-block We will send an verification email.
          .control-group
            label.control-label(for='input02') Password
            .controls
              input#input02.input-xlarge(type='password', name="user[password]")
          .control-group
            label.control-label(for='input03') Confirm
            .controls
              input#input03.input-xlarge(type='password')
          .form-actions
            button.btn.btn-primary(type='submit') Register
            &nbsp;
            button.btn(type='reset') Reset
            &nbsp;or
            a(href="/users/login") login
            &nbsp;to an existing account

  .span5
      legend Why we built EduWrite
      p In today's fast-paced college lectures, students often resort to desperate note-taking strategies, yet still miss critical information each lecture.
      p EduWrite, a collaborative note-taking system, addresses this problem by organizing real-time notes from students so that even during hectic lectures, there can be less frantic writing, and more listening and understanding.
      p Based on the open source project&nbsp;
        a(href='https://github.com/Pita/etherpad-lite') Etherpad-Lite
        , this project can help students to quickly grasp key concepts by allowing students to share notes in real-time.


