extends ../layout

block append head
  script(type='text/javascript', src='/static/js/site/register.js')
block content
  .container
    .row
      .span7
        form.form-horizontal(action="/register/", method="post")
          fieldset(onkeyup="validateRegistrationForm()")
            legend Register to use EduWrite
            .control-group
              label.control-label(for='email-input') Email
              .controls
                input#email-input.input-medium(type='text', name='email')
                p.help-block We will send an verification email.
            .control-group#password-box
              label.control-label(for='password-input') Password
              .controls
                input#password-input.input-medium(type='password', name='password')
            .control-group#password-confirm-box
              label.control-label(for='password-confirm-input') Confirm
              .controls
                input#password-confirm-input.input-medium(type='password')

            .control-group
              label.control-label(for='') Role
              .controls
               label.radio You are a student.
                  input(type="radio", name="role", id="", value="student", checked="checked")
               label.radio You are a professor.
                  input(type="radio", name="role", id="", value="teacher")
            .form-actions
              button.btn.btn-primary(type='submit') Register
              &nbsp;or
              a(href="/login/") login
              &nbsp;to an existing account
      .span5
        legend Why we built EduWrite
        p In today's fast-paced college lectures, students often resort to desperate note-taking strategies, yet still miss critical information each lecture.
        p EduWrite, a collaborative note-taking system, addresses this problem by organizing real-time notes from students so that even during hectic lectures, there can be less frantic writing, and more listening and understanding.
        p Based on the open source project&nbsp;
          a(href='https://github.com/Pita/etherpad-lite') Etherpad-Lite
          , this project can help students to quickly grasp key concepts by allowing students to share notes in real-time.
